* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.navBarTitle-Icon img {
  height: 40px;
  width: auto;
}
.navBarTitle-Icon {
  display: flex;
  width: 13%;
  align-items: center;
  justify-content: space-between;
}
.navBarTitle {
  display: flex;
  width: 13%;
  align-items: center;
  justify-content: space-between;
}
.cart-text,
.login-text {
  text-decoration: none;
  margin-left: 2px;
  color: white;
}
